
html,body{
    height: 100%;
background-color: red;
}
body{

}
h1 {
    background-image: url(/img/Codeology.png);
    background-size: cover;
    width: 200px;
    height: 300px;
    top: 50%;
    left:50%;
    position:absolute;
    margin-left:-100px;
    margin-top: -150px;
    text-indent: -2000px;
}