doctype html
html(lang="en")
    head
        title codeology, code everywhere
        link(rel="stylesheet", type="text/css",  href="css/style.css")

    body

        h1 Codeology
        ul
            li twitter: @coder451
            li github: @codeologist